node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
.eslintrc.json 
.prettierrc

# macOS
.DS_Store


.expo/settings.json
react_native_first_app/.eslintrc.json 
react_native_first_app/.expo-shared/assets.json
